@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');



/////////Colors///////
//Primary

//Full slider Bar
$softCyan: hsl(174,77%,80%);
//Slider Background
$strongCyan: hsl(174, 86%,45%);
//Discound Background
$lightGrayRed: hsl(14,92%, 95%);
//Discount Text
$lightRed: hsl(15, 100%, 70%);
//CTA Text
$paleBlue: hsl(226, 100%, 87%);

//Netural Colors
//Pricing component Background
$white: hsl(0,0%,100%);
//Main Background
$veryPaleBlue: hsl(230, 100%, 99%);
//Empty SliderBar
$lightGrayBlue: hsl(224, 65%, 95%);
//Toggle Background
$lightToggle: hsl(223, 50%, 87%);
//TEXT
$grayBlue: hsl(225, 20%, 60%);
//Text & CTA Background
$darkDesaturatedBlue: hsl(227, 35%, 25%);
//subheading / details
$subheadings: hsl(0, 0%, 58%);

//////Typography//////

//Body 
$introFont: 15px;

//Font
$fontFamily: 'Manrope', sans-serif;

//Font Weights
$font-weights: (
    "semi-bold": 600,
    "extra-bold": 800
);